body {
    background-color: rgb(240, 193, 65);
}

table {
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background-color: lightgray;
}

tbody {
    background-color: white;
}

#empTable {
    width: 80%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

#totalMonthly {
    width: fit-content;
    margin-left: auto;
}